#_div{
    position: relative;
    top: 40px;
}
#_output {
    margin: 0;
}
#_img{
    position: absolute;
    right: 100px;
    border: 5px solid rgb(240, 240, 240);
}
#_header{
    text-align: center;
}
#_bg{
    overflow: hidden;
    font-family: "Font";
    background-color: #2B262C;
    color: rgb(240, 240, 240);
}
#_list{
    color:rgb(240, 240, 240);
}
#_filler{
    color: #2B262C;
    margin: 10px;
}
#_title {
    margin: 10px;
}
@font-face {
    font-family: "Font";
    src: url(tommy.otf);
}
#userDonation{
    position: absolute;
    top: 670px;
}
#_donate{
    margin: 10px;
}
#_line{
    height: 5px;
    background-color: rgb(240, 240, 240);
}
#_quiz{
    position: relative;
    left: 920px;
    bottom: 160px;
    width: fit-content;
    height: fit-content;
}
#quizButton{
    position: relative;
    bottom: 10px;
}